@use '../base/variables' as *;

.contacts {
    padding: 6.25rem 0;

    @media (max-width: $tablet) {
        padding-top: 4.125rem;
        padding-bottom: 4.375rem;
    }

    @media (max-width: $mobile) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 2.75rem;

        h2 {
            font-family: $font-futura;
            font-weight: 500;
            font-size: 3.775rem;
            display: inline-block;
            position: relative;
            margin: 0;
            color: $main-black;

            svg {
                position: absolute;
                top: -15px;
                right: -42px;
                width: 40px;
                height: 40px;
                object-fit: contain;

                path {
                    stroke: var(--accent_font);
                }

                @media (max-width: $tablet) {
                    width: 32px;
                    height: 32px;
                    top: -12px;
                    right: -32px;
                }

                @media (max-width: $mobile) {
                    width: 28px;
                    height: 28px;
                    right: -27px;
                }
            }

            @media (max-width: $tablet) {
                font-size: 2.5rem;
            }

            @media (max-width: $mobile) {
                font-size: 1.875rem;
            }
        }

        @media (max-width: $tablet) {
            margin-bottom: 2rem;
        }

        @media (max-width: $mobile) {
            margin-bottom: 1.5rem;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 16.563rem);
        gap: 2.5rem;
        justify-content: center;
        align-items: center;

        @media (max-width: $tablet) {
            grid-template-columns: repeat(3, 13rem);
            gap: 1.5rem;
        }

        @media (max-width: $tablet-sm) {
            grid-template-columns: 17.563rem;
            gap: 1.5rem;
        }
    }
}

.contact-card {
    padding: 1.25rem 1.25rem 2rem;
    background-color: var(--accent_bg_light);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;

    &__top-icon {
        width: 24px;
        height: 24px;
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: var(--accent_font);
    }

    &__content {
        .contact-link {
            text-decoration: none;
            color: var(--accent_font);;
            font-family: $font-futura;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 26px;
        }

        .socials-list {
            display: flex;
            gap: 2rem;

            .social-link {
                position: relative;
                display: block;

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }

                svg {
                    position: absolute;
                    top: 23px;
                    opacity: 0;
                    transition: opacity 0.4s ease;

                    path {
                        stroke: var(--accent_main);
                    }
                }

                &:hover {
                    opacity: 1;

                    svg {
                        opacity: 1;
                    }
                }
            }
        }
    }
}