@use '../base/variables' as *;

.hero-service {
    position: relative;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.525rem;

    @media (max-width: $tablet) {
        margin-bottom: 4rem;
    }

    @media (max-width: $mobile) {
        margin-bottom: 2rem;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        inset: 0;
        object-position: 50% 50%;
        z-index: 0;
    }
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-bottom: -10px;
    }

    &__masked {
        font-family: $font-futura;
        font-weight: 700;
        font-size: 300px;
        text-align: center;
        text-transform: uppercase;
        mix-blend-mode: color-dodge;
        line-height: 1;
        z-index: 2;
        margin-top: 0;
        margin-bottom: 2.75rem;
        color: rgba(255, 255, 255, 0.5);

        @media (max-width: $desktop-sm) {
            font-size: 240px;
        }

        @media (max-width: $tablet) {
            font-size: 200px;
        }

        @media (max-width: $tablet-sm) {
            font-size: 160px;
            margin-bottom: 1.5rem;
        }

        @media (max-width: $mobile) {
            font-size: 100px;
        }
    }

    .masked_overlay {
        mix-blend-mode: overlay;
        color: #fff;
    }

    &__title {
        font-family: $font-futura;
        font-weight: 700;
        font-size: 3.375rem;
        line-height: 100%;
        text-align: center;
        z-index: 2;
        margin-bottom: 1.375rem;

        @media (max-width: $tablet) {
            font-size: 2.8rem;
        }

        @media (max-width: $tablet-sm) {
            font-size: 2.5rem;
        }

        @media (max-width: $mobile) {
            font-size: 2rem;
        }
    }

    &__description {
        font-family: $font-gilroy;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 2.5rem;
        z-index: 2;
        max-width: 27.125rem;

        @media (max-width: $tablet) {
            font-size: 1.2rem;
        }

        @media (max-width: $mobile) {
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__link {
        padding: 1.3rem 4.3rem 0.913rem;
        background-color: var(--accent_main);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        z-index: 2;

        font-family: $font-futura;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 100%;
        color: #fff;
        text-decoration: none;

        @media (max-width: $desktop-sm) {
            padding: 1rem 2.4rem 0.875rem;
        }

        &:hover {
            background-color: var(--accent_font);
            color: #fff;
        }

        &:link,
        &:visited {
            color: #fff; 
        }
    }
}