@use '../base/variables' as *;

.intro-apartment {
    margin-bottom: 6.25rem;

    @media (max-width: $tablet) {
        margin-bottom: 4rem;
    }

    @media (max-width: $mobile) {
        margin-bottom: 2.5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 100px;

        @media (max-width: $tablet) {
            gap: 64px;
        }

        @media (max-width: $mobile) {
            gap: 32px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;

        @media (max-width: $tablet-sm) {
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media (max-width: $tablet-sm) {
                flex-direction: column;
            }
        }
    }

    &__item-image {
        flex: 1 1 50%;
        max-width: 50%;

        img {
            border-radius: 8px;
            object-fit: cover;
        }

        @media (max-width: $tablet-sm) {
            flex: 0 0 auto;
            max-width: 590px;
            width: 100%;
        }
    }

    &__item-content {
        flex: 1 1 50%;
        max-width: 50%;
        color: #000;

        @media (max-width: $tablet-sm) {
            flex: 0 0 auto;
            max-width: 590px;
            width: 100%;
        }
    }

    &__item-title {
        font-family: $font-futura-pt;
        font-weight: 500;
        font-size: 2rem;
        line-height: 100%;
        margin-bottom: 1rem;

        @media (max-width: $tablet) {
            font-size: 1.5rem;
        }
    }

    &__item-description {
        font-family: $font-futura-pt;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 100%;
        letter-spacing: 0;

        @media (max-width: $tablet) {
            font-size: 1rem;
        }
    }
}