@use '../base/variables' as *;

.team {
    
    &__wrapper {
        background-color: var(--accent-bg);
        border-radius: 1rem;
        padding: 5rem 2rem 3.125rem;
        position: relative;
        overflow: hidden;
        margin-inline: auto;
        max-width: 1248px;

        &::after, &::before {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: var(--accent-blur);
            opacity: 1;
            z-index: 0;
        }

        &::before {
            width: 190px;
            height: 190px;
            top: -47px;
            left: -72px;
            filter: blur(140px);
        }

        &::after {
            width: 266px;
            height: 266px;
            bottom: -100px;
            right: -100px;
            filter: blur(150px);
        }

        @media (max-width: $desktop) {
            margin-inline: 64px;
        }

        @media (max-width: $desktop-sm) {
            margin-inline: 48px;
        }

        @media (max-width: $tablet-sm) {
            padding: 4rem 1.5rem 3.125rem;
            margin-inline: 32px;
        }

        @media (max-width: $mobile) {
            margin-inline: 0;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 4rem;
        z-index: 1;

        @media (max-width: $tablet-sm) {
            margin-bottom: 3rem;
        }

        @media (max-width: $tablet-sm) {
            margin-bottom: 2.5rem;
        }
    }

    &__title {
        font-family: $font-futura;
        font-weight: 500;
        font-size: 3.375rem;
        color: #000;
        margin-bottom: 1rem;
        position: relative;
        display: inline-block;

        svg {
            position: absolute;
            top: -32px;
            left: -55px;
            width: 56px;
            height: 56px;
            z-index: 1;

            path {
                stroke: var(--accent-font);
            }
        
            @media (max-width: $tablet) {
                top: -25px;
                left: -45px;
                width: 45px;
                height: 45px;
            }

            @media (max-width: $mobile) {
                top: -20px;
                left: -33px;
                width: 34px;
                height: 34px;
            }
        }

        @media (max-width: $tablet) {
            font-size: 2.7rem;
        }

        @media (max-width: $mobile) {
            font-size: 2rem;
        }
    }

    &__subtitle {
        font-family: $font-futura;
        font-weight: 500;
        font-size: 2rem;
        line-height: 42px;
        text-align: center;
        color: #000;
        max-width: 25rem;

        strong, b, span {
            color: var(--accent-font);
        }

        @media (max-width: $tablet) {
            font-size: 1.7rem;
            line-height: 32px;
        }

        @media (max-width: $mobile) {
            font-size: 1.5rem;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 342px));
        gap: 5.625rem;
        row-gap: 4rem;
        justify-content: center;
        z-index: 1;

        @media (max-width: $tablet-sm) {
            gap: 3rem;         
        }

        @media (max-width: $mobile) {
            grid-template-columns: 329px;       
        }
    }
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &__image-wrapper {
        margin-bottom: 1.5rem;
    }

    &__image {
        max-width: 12.063rem;

        @media (max-width: $tablet) {
            max-width: 11rem;         
        }
    }

    &__name {
        font-family: $font-futura;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 28px;
        margin-bottom: 0;
        color: $main-black;

        @media (max-width: $tablet-sm) {
            font-size: 0.9rem;         
        }
    }

    &__position {
        font-family: $font-futura;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 24px;
        margin-bottom: 1.5rem;
        color: var(--accent-font);

        @media (max-width: $tablet-sm) {
            margin-bottom: 0.8rem;         
        }
    }

    &__description {
        font-family: $font-futura;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 29px;

        @media (max-width: $tablet-sm) {
            line-height: 24px;        
        }
    }
}