@use '../base/variables' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    transition: all 0.3s ease;

    &__container {
        height: 5rem;
        display: flex;
        align-items: center;

        @media (max-width: $tablet) {
            height: 3.7rem;
        }
    }

    &__nav {
        margin-left: 3.575rem;

        @media (max-width: $desktop-sm) {
            margin-left: 2.5rem;
        }

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__logo {
        img, svg {
            display: block;
            max-height: 46px;
            width: fit-content;

            @media (max-width: $desktop-sm) {
                max-height: 42px;
            }

            @media (max-width: $tablet) {
                max-height: 34px;
            }

            @media (max-width: $mobile) {
                max-height: 24px;
            }
        }

        &-link {
            font-family: $font-futura;
            font-weight: 700;
            font-size: 1.5rem;
            color: #000;
            text-decoration: none;

            svg {
                path {
                    fill: #fff;
                    transition: fill 0.3s ease;
                }
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        padding: 14px 0 18px;
        
        .menu-item {
            position: relative;
            margin-right: 3.95rem;

            @media (max-width: $desktop) {
                margin-right: 2.9rem;
            }

            @media (max-width: $desktop-sm) {
                margin-right: 1.7rem;
            }

            a {
                font-family: $font-futura-pt;
                font-weight: 300;
                font-size: 1.25rem;
                text-align: center;
                line-height: 100%;
                letter-spacing: 1px;
                color: #fff;
                transition: color 0.3s ease;
                display: block;
            }

            &:hover > a {
                color: $main-blue;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .menu-item-has-children {
            position: relative;
            
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 14px;
                height: 8px;
                
                background-image: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.7108 6.87736C13.6178 6.97109 13.5072 7.04548 13.3854 7.09625C13.2635 7.14702 13.1328 7.17316 13.0008 7.17316C12.8688 7.17316 12.7381 7.14702 12.6162 7.09625C12.4944 7.04548 12.3838 6.97109 12.2908 6.87736L7.71079 2.29736C7.61783 2.20363 7.50723 2.12924 7.38537 2.07847C7.26351 2.0277 7.1328 2.00156 7.00079 2.00156C6.86878 2.00156 6.73807 2.0277 6.61622 2.07847C6.49436 2.12924 6.38376 2.20363 6.29079 2.29736L1.71079 6.87736C1.61783 6.97109 1.50723 7.04548 1.38537 7.09625C1.26351 7.14702 1.1328 7.17316 1.00079 7.17316C0.868781 7.17316 0.738075 7.14702 0.616216 7.09625C0.494356 7.04548 0.383755 6.97109 0.290792 6.87736C0.104542 6.69 0 6.43654 0 6.17236C0 5.90817 0.104542 5.65472 0.290792 5.46736L4.88079 0.877358C5.44329 0.315557 6.20579 -1.90735e-06 7.00079 -1.90735e-06C7.79579 -1.90735e-06 8.55829 0.315557 9.12079 0.877358L13.7108 5.46736C13.897 5.65472 14.0016 5.90817 14.0016 6.17236C14.0016 6.43654 13.897 6.69 13.7108 6.87736Z" fill="black" /></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                
                opacity: 0; 
                transform: translateY(-50%) rotate(180deg);
                transition: all 0.3s ease;
            }
        }

        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: -10px;

            width: 100%;
            background-color: #fff;
            min-width: 7.063rem;
            padding: 0.3rem 0.813rem;
            border-radius: 4px;
            z-index: 100;
            animation: fadeIn 0.2s ease;

            .menu-item {
                margin-right: 0;
                width: 100%;
                
                a {
                    text-align: left;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.5;
                    color: $main-black;
                    text-align: left;
                    margin-bottom: 8px;
                    width: fit-content;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        color: $text-blue;
                    }
                }
            }
        }

        .menu-item-has-children:hover > .sub-menu {
            display: block;
        }

        .menu-button {
            margin-left: auto;
            padding: 1rem 3.3rem 0.875rem;
            background-color: $main-blue;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            @media (max-width: $desktop-sm) {
                padding: 1rem 2.4rem 0.875rem;
            }

            a {
                font-family: $font-futura;
                font-weight: 400;
                font-size: 1rem;
                line-height: 100%;
                color: #fff;
            }

            &:hover {
                background-color: #1F52C5;
                a {
                    color: #fff;
                }
            }
        }
    }

    &.is_scrolled {
        background-color: #fff;
        box-shadow: 0 -1px 28px 0 rgba(203, 203, 203, 0.25);

        .header__logo svg path {
            fill: $main-blue;
        }

        .header__menu {
            .menu-item {
                a {
                    color: $main-black;
                }

                &:hover > a {
                    color: $main-blue;
                }
            }

            .menu-button {
                a {
                    color: #fff;
                }
                &:hover > a {
                    color: #fff;
                }
            }
        }

        .header__logo-link {
            color: $main-black;
        }

        .burger {
            .burger__line {
                background-color: $main-black;
            }
        }

        .header__menu .menu-item-has-children {
            padding-right: 1.5rem;

            &::after {
                opacity: 1;
                transform: translateY(-50%) rotate(180deg);
            }
            
            &:hover::after {
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }
}


// mobile menu / burger
.burger {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    display: none;
    width: 24px;
    height: 18px;
    position: relative;
    z-index: 105;

    @media (max-width: $tablet) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
    }

    @media (max-width: $mobile) {
        width: 20px;
        height: 12px;
    }

    &__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    z-index: 101;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;

    @media (max-width: $mobile) {
        width: 100%;
    }

    @media (min-width: 993px) {
        display: none !important; 
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: start;

        .menu-item {
            margin-bottom: 1rem;

            a {
                font-family: $font-futura;
                font-size: 1.2rem;
                color: $main-black;
                text-decoration: none;
                font-weight: 500;
            }

            &.menu-button a {
                background-color: $main-blue;
                color: #fff;
                padding: 0.75rem 2rem;
                border-radius: 6px;
            }
        }

        .menu-button {
            margin-top: 3rem;
            margin-bottom: 0;
        }

        .menu-item-has-children {
            position: relative;
            
            > a {
                padding-right: 40px;
            }

            &::after {
                content: '';
                position: absolute;
                left: 75px;
                top: 10px;
                width: 14px;
                height: 8px;
                
                background-image: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.7108 6.87736C13.6178 6.97109 13.5072 7.04548 13.3854 7.09625C13.2635 7.14702 13.1328 7.17316 13.0008 7.17316C12.8688 7.17316 12.7381 7.14702 12.6162 7.09625C12.4944 7.04548 12.3838 6.97109 12.2908 6.87736L7.71079 2.29736C7.61783 2.20363 7.50723 2.12924 7.38537 2.07847C7.26351 2.0277 7.1328 2.00156 7.00079 2.00156C6.86878 2.00156 6.73807 2.0277 6.61622 2.07847C6.49436 2.12924 6.38376 2.20363 6.29079 2.29736L1.71079 6.87736C1.61783 6.97109 1.50723 7.04548 1.38537 7.09625C1.26351 7.14702 1.1328 7.17316 1.00079 7.17316C0.868781 7.17316 0.738075 7.14702 0.616216 7.09625C0.494356 7.04548 0.383755 6.97109 0.290792 6.87736C0.104542 6.69 0 6.43654 0 6.17236C0 5.90817 0.104542 5.65472 0.290792 5.46736L4.88079 0.877358C5.44329 0.315557 6.20579 -1.90735e-06 7.00079 -1.90735e-06C7.79579 -1.90735e-06 8.55829 0.315557 9.12079 0.877358L13.7108 5.46736C13.897 5.65472 14.0016 5.90817 14.0016 6.17236C14.0016 6.43654 13.897 6.69 13.7108 6.87736Z" fill="black" /></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                
                transform: rotate(180deg);
                transition: transform 0.3s ease;
            }

            .sub-menu {
                list-style: none;
                padding-left: 1rem; 
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease-out;

                a {
                    font-size: 1.1rem;
                    font-weight: 400;
                    color: #555;
                }
            }

            &.is-open {
                &::after {
                    transform: rotate(0deg); 
                }
                
                .sub-menu {
                    max-height: 500px; 
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

header.mobile-menu-open {
    .burger {
        .burger__line {
            background-color: $main-black;

            &:nth-child(2) {
                opacity: 0;
                transform: scale(0);
            }

            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);

                @media (max-width: $mobile) {
                    transform: translateY(5px) rotate(45deg);
                }
            }

            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);

                @media (max-width: $mobile) {
                    transform: translateY(-5px) rotate(-45deg);
                }
            }
        }
    }

    .mobile-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .mobile-menu-overlay {
        opacity: 1;
        visibility: visible;
    }
}


.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 90;

    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    &.is-open {
        opacity: 1;
        visibility: visible;
    }
}
