@use '../base/variables' as *;

.not-found {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: grey;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    &__background {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-futura;
        color: #fff;
    }

    &__title {
        font-weight: 500;
        font-size: 3.375rem;
        line-height: 100%;
        margin-bottom: 0.5rem;
        position: relative;

        svg {
            position: absolute;
            top: -37px;
            left: -41px;
            width: 50px;
            height: 50px;
            z-index: 1;

            path {
                stroke: $main-blue;
            }
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 26px;
        text-align: center;
        max-width: 358px;
        margin-bottom: 1.875rem;
    }

    &__link {
        padding: 0.875rem 2.5rem;
        background-color: $main-blue;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        z-index: 2;

        font-weight: 500;
        font-size: 1.125rem;
        line-height: 29px;
        color: #fff;
        text-decoration: none;

        &:hover {
            background-color: $text-blue;
            color: #fff;
        }

        &:link,
        &:visited {
            color: #fff; 
        }
    }
}