@use '../base/variables' as *;

.legal {
    color: #000;

    &__title {
        font-family: $font-gilroy;
        font-weight: 500;
        font-size: 2rem;
        line-height: 100%;
    }

    p {
        font-family: $font-gilroy;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 29px;
        text-transform: capitalize;
    }

    h3, h2 {
        font-family: $font-gilroy;
        font-weight: 500;
        font-size: 2rem;
        line-height: 100%;
        margin-bottom: 1.9rem;
    }

    strong, b {
        font-weight: 700;
    }

    em, i {
        font-style: italic;
    }
}